<ion-side-menus>

  <!-- header bar will go here -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <!-- back button -->
      <ion-nav-back-button></ion-nav-back-button>

      <!-- toggle left side menu -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- side menu itself -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Schedule</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close ui-sref="home.group">Home</ion-item>
        <ion-item menu-close ui-sref="app.teams">Teams</ion-item>
        <ion-item menu-close ui-sref="app.standings">Standings</ion-item>
        <ion-item menu-close ui-sref="app.locations">Locations</ion-item>
        <ion-item menu-close ui-sref="app.rules">Rules</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>